# See http://help.github.com/ignore-files/ for more about ignoring files.

gulpfile.js

# variables
.env

# dependencies
/node_modules

# IDE - VSCode
.vscode/*
.vscode-upload.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db
